.profile__edit-button {
    width: 24px;
    height: 24px;
    border: solid white 1px;
    background-image: url(../../../images/svg/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 18px;
    transition: opacity 1s ease;
    background-color: rgba(0, 0, 0, 0);
}

.profile__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width:696px) {
    .profile__edit-button {
        margin: 0 0 0 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}