.page {
    max-width: 880px;
    margin: auto;
    background-color: black;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}