.popup__container {
    background-color: white;
    position: relative;
    max-width: 430px;
    border-radius: 10px;
}

@media screen and (max-width:696px) {
    .popup__container {
        max-width: 282px;
    }
}