.profile {
    margin: 42px 0 0;
    color: white;
    display: flex;
    align-items: center;
}

@media screen and (max-width:880px) {
    .profile {
        margin: 42px 19px 0;
    }
}

@media screen and (max-width:696px) {
    .profile {
        flex-direction: column;
        margin: 42px 0 0 0;
    }
}