.profile__subtitle {
    font-size: 18px;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    margin: 0;
}

@media screen and (max-width:696px) {
    .profile__subtitle {
        margin: 0 0 36px 0;
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}