.popup__form {
    border: 0;
    border-bottom: solid rgba(0, 0, 0, .2) 1px;
    width: 358px;
    height: 14px;
    font-size: 14px;
    padding: 0 0 13px 0;
}

.popup__form:last-of-type {
    margin-top: 13px;
}

@media screen and (max-width:696px) {
    .popup__form {
        width: 238px;
    }
}