.profile__container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

@media screen and (max-width:696px) {
    .profile__container {
        justify-content: center;
        margin: 26px 0 7px 26px;
    }
}