.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -12%;
    right: -9%;
    cursor: pointer;
    background-image: url(../../../images/svg/Close-Icon.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: contain;
    transition: opacity 1s ease;
    opacity: 1;
    border: 0;
}

.popup__close:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width:696px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}