.popup__save-button {
    display: flex;
    width: 100%;
    background-color: black;
    height: 50px;
    border-radius: 2px;
    justify-content: center;
    transition: opacity 1s ease;
    opacity: 1;
    color: white;
    align-items: center;
    padding: 0;
    margin: 0 0 37px 0;
    font-size: 18px;
    line-height: 21px;
    border: 0;
}

.popup__save-button:hover {
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width:696px) {
    .popup__save-button {
        margin: 0 0 25px 0;
        font-size: 14px;
        line-height: 16px;
        height: 46px;
    }
}