.popup-img__picture-container {
    max-width: 816px;
    height: 540px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width:696px) {
    .popup-img__picture-container {
        height: 299px;
        max-width: 240px;
    }
}